body {
    background-color: #663333;
    color: #ffffff;
    font-family: sans-serif;
    padding: 1rem;
 
    h1 {
        font-size: 1.7rem;
        margin: 0;
    }
 
    animation: fadein .2s ease-in;
}
 
@keyframes fadein {
    from {
        opacity: 0;
    }
 
    to {
        opacity: 1;
    }
}